<!DOCTYPE html>
<html lang="en" ng-app="newTrainingApp">
	<head>
		<meta charset="utf-8"></meta>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
		<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
		<link rel="shortcut icon" href="../../resourses/pics/favicon.gif">

		<title>Create new training</title>
		
		<!-- Bootstrap Core CSS -->
		<link href="../../resourses/css/bootstrap.css" rel="stylesheet"></link>

		<!-- Custom CSS -->
		<link href="../../resourses/css/global.css" rel="stylesheet"></link>

		<!-- Custom Fonts -->
		<link href="../../resourses/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"></link>

		<!-- Angular -->
		<script src="../../resourses/js/angular.js"></script>
		<script src="new-training-app/app.js"></script>
		<script src="new-training-app/pagination-ctrl.js"></script>
		<script src="../global-ctrls/collapse-ctrl.js"></script>
		<script src="../../resourses/js/ui-bootstrap-tpls-0.12.1.js"></script>
	</head>

	<body>
		<div id="wrapper">
			<!-- Navigation -->
			<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" id = "top-menu" ng-controller="collapseCtrl">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" id="menu-button" ng-click="isCollapsed = !isCollapsed">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>

					<a class="navbar-brand" href="../welcome/welcome.html">
						<img alt="Brand" src="../../resourses/pics/exadel-logo.png">
					</a>
				</div>

				<!-- Top Menu Items -->
				<ul class="nav navbar-right top-nav">
					<!--TODO!!! dynamic-->
					<li class="active">   
						<a href = "../welcome/welcome.html">      
							<i class = "fa fa-fw fa-user"></i>
							User Name  
						</a>     
					</li>

					<li class="active">
						<a href="../login/login.html">
							<i class="fa fa-fw fa-power-off"></i> 
							Log out
						</a>
					</li>

					<ul class="nav navbar-right top-nav language-panel">
						<li><a class = "lang" href = "new-training.html">En</a></li>
						<li><a class= "lang" href = "new-training.html">Ru</a></li>
                	</ul>
				</ul>

				<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
				<div class="collapse navbar-collapse" collapse="isCollapsed">
					<ul class="nav navbar-nav side-nav" id = "left-menu">

						<li id = "alltrainings">
							<a href="../all-trainings/all-trainings.html">
								<i class="fa fa-fw fa-circle"></i> 
								All trainings
							</a>
						</li>

						<li id="mytrainings">
							<a href="#" ng-click="isCollapsed2=!isCollapsed2">
								<i class="fa fa-fw fa-circle"></i> 
								My trainings 
								<i class="fa fa-fw fa-caret-down"></i>
							</a>

							<ul collapse="isCollapsed2">
								<li>
									<a href="../my-trainings/my-trainings.html">
										<i class="fa fa-fw fa-angle-right"></i>
										As a trainer
									</a>
								</li>

								<li>
									<a href="../my-trainings/my-trainings.html">
										<i class="fa fa-fw fa-angle-right"></i>
										As a guest
									</a>
								</li>
							</ul>
						</li>

						<li id = "newtraining">
							<a href="new-training.html">
								<i class="fa fa-fw fa-circle"></i> 
								Create new training
							</a>
						</li>

						<li id = "newtrainer">
							<a href="../new-trainer/new-trainer.html">
								<i class="fa fa-fw fa-circle"></i> 
								Add new external trainer
							</a>
						</li>

						<li id = "users">
							<a href="../users/users.html">
								<i class="fa fa-fw fa-circle"></i> 
								Users
							</a>
						</li>

						<li id = "copyright">
							<footer>
								<span>©Exadel, Inc. All Rights Reserved.</span>
							</footer>
						</li>
					</ul>
				</div>
			</nav>			

			<div id="page-wrapper" ng-controller="paginationCtrl">
	            <div class="container-fluid">
	                <!-- Page Heading -->

	                <div class="row">
	                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	                        <h1 class="page-header">
	                            New training creation <small>Fill some fields</small>
	                        </h1>
	                    </div>
	                </div>
	                <!-- /.row -->

    				<pager total-items="totalItems" ng-model="currentPage"></pager>

	                <div class="row">
	                    <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3">

		                    <div id="step1" ng-show="currentPage == 1">
		                        <div class="form-group">
	                                <label>
	                                	Name of training *
	                                </label>
	                                <input class="form-control" placeholder="Assembler for beginners" required="required">
	                            </div>

	                            <div class="form-group">
	                                <label>Training description</label>
	                                <p>Some sentenses about your training</p>
	                                <textarea class="form-control" rows="5" placeholder="Key concepts, Language design, Use of assembly language"></textarea>
	                            </div>
	                        </div>

							<div id="step2" ng-show="currentPage == 2">
								<div>
									<label>Tags *</label>
									<div class="input-group">
	                                    <input type="text" class="form-control" placeholder="Type here">
	                                    <span class="input-group-btn">
	        								<button class="btn btn-primary" type="button">Search</button>
	      								</span>
	                                </div>
									<ul id = "tags">
										<li>
											<input type="checkbox">
												#Java
											</input>
										</li>
										<li>
											<input type="checkbox">
												#PHP
											</input>
										</li>
										<li>
											<input type="checkbox">
												#JavaScript
											</input>
										</li>
										<li>
											<input type="checkbox">
												#C++
											</input>
										</li>
										<li>
											<input type="checkbox">
												#Scala
											</input>
										</li>
										<li>
											<input type="checkbox">
												#Go
											</input>
										</li>
										<li>
											<input type="checkbox">
												#English
											</input>
										</li>
									</ul>
							    </div>

							    <div>
									<label>Audience for your training *</label>
									<div>
										<span>
											<input type="checkbox">
												Select all&nbsp&nbsp&nbsp
											</input>
										</span>

										<span>
											<input type="checkbox">
												Deselect all
											</input>
										</span>
									</div>
									<div class="input-group">
	                                    <input type="text" class="form-control" placeholder="Type here"></input>
	                                    <span class="input-group-btn">
	        								<button class="btn btn-primary" type="button">Search</button>
	      								</span>
	                                </div>
									<ul id = "audience">
										<li>
											<input type="checkbox">
												Java
											</input>
										</li>
										<li>
											<input type="checkbox">
												PHP
											</input>
										</li>
										<li>
											<input type="checkbox">
												JavaScript
											</input>
										</li>
										<li>
											<input type="checkbox">
												C++
											</input>
										</li>
										<li>
											<input type="checkbox">
												Scala
											</input>
										</li>
										<li>
											<input type="checkbox">
												Go
											</input>
										</li>
									</ul>
							    </div>
							</div>
	        
							<div id="step3" ng-show="currentPage == 3">
	             		
			                    <div class="form-group">
			                    	<label>Type of your training *</label>
			                    	<div class="dropdown">
								  		<button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
								    		Type
								    		<span class="caret"></span>
								  		</button>
									  	<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
									    	<li><a href="#">Inner training</a></li>
									    	<li><a href="#">Outdoor training</a></li>
									  </ul>
									</div>
								</div>

								<div class="form-group">
			                    	<label>Repetition frequency of your training *</label>
			                    	<div class="dropdown">
								  		<button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
								    		Repetition
								    		<span class="caret"></span>
								  		</button>
									  	<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
									    	<li><a href="#">One-off</a></li>
									    	<li><a href="#">Continuous</a></li>
									  </ul>
									</div>
								</div>

								<div>
									<label>Maximum number of guests</label>
									<input type="text" class="form-control" placeholder="Type here">
								</div>

								<!-- Admin staff -->
		                        <div> 
		                        	<label>Enter the room for training *</label>
		                        	<input type="text" class="form-control" placeholder="Type here">
		                        </div>

		                        <div>
									<label>Language of your training *</label>
										<ul id = "lng">
											<li>
												<input type="checkbox">
													English
												</input>
											</li>
											<li>
												<input type="checkbox">
													Russian
												</input>
											</li>
										</ul>
								    </div>
		                        <div align="center">
	                				<button class="btn btn-primary" type="button" id="subBtn">Submit</button>
	                			</div>
		                    </div>
	                    </div>
	                </div>    
	                <!-- /.row -->
	            </div>
	            <!-- /.container-fluid -->
	        </div>
        <!-- /#page-wrapper -->
		</div>
		<!-- /#wrapper -->
	</body>
</html>