<!DOCTYPE html>
<html lang="en" ng-app="calendarApp">
	<head>
		<meta charset="utf-8"></meta>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
		<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
		<link rel="shortcut icon" href="../../resourses/pics/favicon.gif"></link>

		<title>Calendar</title>
		
		<!-- Bootstrap Core CSS -->
		<link href="../../resourses/css/bootstrap.css" rel="stylesheet"></link>

		<!-- Custom CSS -->
		<link href="../../resourses/css/global.css" rel="stylesheet"></link>

		<!-- Custom Fonts -->
		<link href="../../resourses/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"></link>
		
		<!-- Calendar CSS -->
		<link href="../../resourses/css/angular-bootstrap-calendar.css" rel="stylesheet" type="text/css"></link>

		<!-- Angular -->
		<script src="../../resourses/js/angular.js"></script>
		<script src="../../resourses/js/moment.js"></script>
		<script src="../../resourses/js/ui-bootstrap-tpls-0.12.1.js"></script>
		<script src="../../resourses/js/interact.js"></script>
		<script src="../global-ctrls/collapse-ctrl.js"></script>
		
		<!-- Calendar JS -->
		<script src="calendar-app/main-ctrl.js"></script>
		<script src="../../resourses/js/angular-bootstrap-calendar-tpls.js"></script>
		<script src="calendar-app/app.js"></script>
	</head>

	<body>
		<div id="wrapper">

			<!-- Navigation -->
			<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" id = "top-menu" ng-controller="collapseCtrl">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" id="menu-button" ng-click="isCollapsed = !isCollapsed">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>

					<a class="navbar-brand" href="welcome.html">
						<img alt="Brand" src="../../resourses/pics/exadel-logo.png"></img>
					</a>
				</div>

				<!-- Top Menu Items -->
				<ul class="nav navbar-right top-nav">
					<!--TODO!!! dynamic-->
					<li class="active">   
						<a href = "welcome.html">      
							<i class = "fa fa-fw fa-user"></i>
							User Name  
						</a>     
					</li>

					<li class="active">
						<a href="../login/login.html">
							<i class="fa fa-fw fa-power-off"></i> 
							Log out
						</a>
					</li>

					<ul class="nav navbar-right top-nav language-panel">
						<li><a class = "lang" href = "welcome.html">En</a></li>
						<li><a class = "lang" href = "welcome.html">Ru</a></li>
                	</ul>
				</ul>

				<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
				<div class="collapse navbar-collapse" collapse="isCollapsed">
					<ul class="nav navbar-nav side-nav" id = "left-menu">

						<li id = "alltrainings">
							<a href="../all-trainings/all-trainings.html">
								<i class="fa fa-fw fa-circle"></i> 
								All trainings
							</a>
						</li>

						<li id="mytrainings">
							<a href="#" ng-click="isCollapsed2=!isCollapsed2">
								<i class="fa fa-fw fa-circle"></i> 
								My trainings 
								<i class="fa fa-fw fa-caret-down"></i>
							</a>

							<ul collapse="isCollapsed2">
								<li>
									<a href="../my-trainings/my-trainings.html">
										<i class="fa fa-fw fa-angle-right"></i>
										As a trainer
									</a>
								</li>

								<li>
									<a href="../my-trainings/my-trainings.html">
										<i class="fa fa-fw fa-angle-right"></i>
										As a guest
									</a>
								</li>
							</ul>
						</li>

						<li id = "newtraining">
							<a href="../new-training/new-training.html">
								<i class="fa fa-fw fa-circle"></i> 
								Create new training
							</a>
						</li>

						<li id = "newtrainer">
							<a href="../new-trainer/new-trainer.html">
								<i class="fa fa-fw fa-circle"></i> 
								Add new external trainer
							</a>
						</li>

						<li id = "users">
							<a href="../users/users.html">
								<i class="fa fa-fw fa-circle"></i> 
								Users
							</a>
						</li>

						<li id = "copyright">
							<footer>
								<span>©Exadel, Inc. All Rights Reserved.</span>
							</footer>
						</li>
					</ul>
				</div>
			</nav>

			<div id="page-wrapper">
				<div class="container-fluid" ng-controller="mainCtrl as vm">
                    <mwl-calendar
                        events="vm.events"
                        view="vm.calendarView"
                        view-title="vm.calendarTitle"
                        current-day="vm.calendarDay"
                        on-event-click="vm.eventClicked(calendarEvent)"
                        on-event-times-changed="vm.eventTimesChanged(calendarEvent); calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
                        edit-event-html="'<i class=\'glyphicon glyphicon-pencil\'></i>'"
                        delete-event-html="'<i class=\'glyphicon glyphicon-remove\'></i>'"
                        on-edit-event-click="vm.eventEdited(calendarEvent)"
                        on-delete-event-click="vm.eventDeleted(calendarEvent)"
                        auto-open="true"
                        day-view-start="06:00"
                        day-view-end="22:00"
                        day-view-split="30"
                        cell-modifier="vm.modifyCell(calendarCell)">
                    </mwl-calendar>
				</div>
				<!-- /.container-fluid -->
			</div>
			<!-- /#page-wrapper -->
		</div>
		<!-- /#wrapper -->
	</body>
</html>